## Início da aula
* notebook feito por Rafael Henrique Belini Zanfolin

### Tipos de dado

In [17]:
#String

string = "arroz"
type(string)

str

In [18]:
#Número inteiro

inteiro = 1
type(inteiro)

int

In [20]:
#Número ponto flutuante (ententido como decimal para facilitar)

floating_number = 1.1
type(floating_number)

float

### Variável

In [25]:
#Varíavel é uma caixa vazia que é criada para se armazenar algum dado

#Crie uma variável chamada "variavel" e adicionei o inteiro 0 nela
variavel = 0
print(f'A variável tem o valor {variavel} armazenado nela')

#Posso fazer alteração de valores na variável
#Exclue-se o valor anterior da variável e adiciona-se outro valor nela
variavel = 1
print(f'A variavel tem o valor {variavel} armazenado nela')

A variável tem o valor 0 armazenado nela
A variavel tem o valor 1 armazenado nela

### String

In [27]:
#O computador só entende 0 e 1, pois é feito em linguagem binária
#Para o computador entender a LINGUAGEM HUMANA criaram o tipo de dado STRING
#Toda string deve ser escrita entre aspas

string_teste = "arroz"
type(string_teste)

str

#### Formatação de string

In [64]:
#É possível inserir o valor de uma variável dentro de uma string!

variavel_inserida = 10

# f'' é utilizado como padrão de formatação nas novas versões do python
# A variável está dentro de {}
string_teste_insercao_variavel = f'O joão tem {variavel_inserida} anos'

print(string_teste_insercao_variavel)

O joão tem 10 anos

#### Mudança da cor de uma string

In [77]:
#Necessário importar a BIBLIOTECA colorama
import colorama
#Mais especificamente as funções Fore, Back e Style
from colorama import Fore, Back, Style

#String utilizada como base
string_comum = "Nadar na piscina é refrescante!"
print(string_comum)

#Mudando a cor para verde
string_modificada = f'{Fore.GREEN}{string_comum}'
print(string_modificada)

string_modificada_2 = f'{Back.GREEN}{string_comum}'
print(string_modificada_2)

#É necessário resetar a formatação da string antes de modificar ela de novo!
#Porque podem acontecer erros como o de cima, onde o fundo fica igual a cor das palavras!!
string_resetada = f'{Style.RESET_ALL}{string_comum}'
print(string_resetada)
string_resetada_fundo_verde = f'{Back.GREEN}{string_comum}'
print(string_resetada_fundo_verde)

Nadar na piscina é refrescante!
Nadar na piscina é refrescante!
Nadar na piscina é refrescante!
Nadar na piscina é refrescante!
Nadar na piscina é refrescante!

#### Concatenação de strings

In [29]:
#Posso somar strings com strings, isso se chama Concatenação

string_1 = "Arroz com feijão é "
string_2 = "uma comida típica brasileira"

string_3 = string_1 + string_2
print(string_3)

Arroz com feijão é uma comida típica brasileira

In [33]:
#Posso multiplicar uma string, repetindo várias vezese ela mesma

string_4 = "Arroz com batata"
repeticoes = 4
print(string_4 * repeticoes)

Arroz com batataArroz com batataArroz com batataArroz com batata

### Lista

In [44]:
#Lista é um conjunto de dados ordenados
lista_teste = [0,1,2,3,4,5,6,7,8,9]

#Selecionar um dados específico dentro da lista por meio da posição
#Lembrando que em Python (e em quase todas linguagens de programação) inicia-se no posicionamento 0 e não 1!
seleciona = lista_teste[0]
print(seleciona)

#Cortas alguns dados dentro de uma lista
#Começa o corte no posicionamento 0 (primeiro argumento) e termina no elemento imediatamente antes do 2 (segundo argumento)
corte = lista_teste[0:2]
print(corte)

0
[0, 1]

### Booleano, verificação de veracidade

In [46]:
#Booleanos são conhecidos como "True or false statement", utilizados para verificar se uma máxima é verdadeira ou falsa

#Pegadinha clássica, "1" é diferente de 1
"1" != 1

True

### Condicional

In [55]:
#Também conhecido por "if/else statement"
#É necessário entender o que é um Booleano para assim se aprender Condicional

#Mudar a variável numero_1 para verificar a resposta que o código dá!
numero_1 = 6
numero_2 = 2

if numero_1 % numero_2 == 0:
    print("O número 1 é divisível pelo número 2, porque o resto é 0")
else:
    print("O número 1 não é divisível pelo número 2, porque o resto não é 0")

O número 1 é divisível pelo número 2, porque o resto é 0

In [61]:
#No python na realiade existem 3 tipos de condicionais: if / elif / else

#Mudar a palavra para verificar qual a resposta (output) do código
palavra = "Arroz com feijão é gostoso"
tamanho_palavra = len(palavra)

if tamanho_palavra < 5:
    print(f'A palavra é bem pequena, tem somente {tamanho_palavra} caracteres!')
elif tamanho_palavra < 11:
    print(f'A palavra é media, tem {tamanho_palavra} caracteres')
else:
    print(f'A palavra é grande, tem {tamanho_palavra} caracteres')

A palavra é grande, tem 26 caracteres

## Exercícios previstos

In [1]:
# Exercício 9

#Percebe-se que em cada iteração é adicionado um espaço e um asterisco
espaco_asterisco = " *"
contador = 0
#Necessário declarar uma variável que recebe uma string vazia
string = ""
#Primeira linha deve ter 5 espaços (padrão mostrado pela Libânia)
contador_de_espaco = 5

#Encerraro o looping quando não ter mais espaço até o primeiro asterisco
while contador_de_espaco >= 0:
    #Concatenação / aglutinação de string
    #Testar contador_espaco = 1, depois contador_espaco = 2
    string = (" "*contador_de_espaco) + (contador*espaco_asterisco)
    
    #Printar para aparecer o padrão de asteriscos
    print(string)
    
    #Aumentar o número de espaço_asterisco depois do primeiro asterisco
    contador = contador + 1
    #Aumentar o contador_espaco para o looping acabar uma hora
    contador_de_espaco = contador_de_espaco - 1

     *
    * *
   * * *
  * * * *
 * * * * *

In [2]:
#Exercício 10

#Contador deve ser 2 porque na Fibonaci pega os dois números antecessores
contador = 2

#Criando a variável número, ela tem que ser um inteiro
numero = 0

#É necessário colocar os dois primeiros números, se não ficará "List out of range!"
fibonaci = [1,1]

#Até quantos valores de Fibonaci a lista vai ter?
limitante = 100

#Quando contador = limitante, o looping para automaticamente!
while contador < limitante:
    
    #numero novo = soma dos seus dois antecessores
    numero = fibonaci[contador-2] + fibonaci[contador-1]
    
    #adiciona na lista Fibonaci o novo número
    fibonaci.append(numero)
    
    #aumenta o contador de um em um
    contador = contador + 1

fibonaci

[1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229,
 832040,
 1346269,
 2178309,
 3524578,
 5702887,
 9227465,
 14930352,
 24157817,
 39088169,
 63245986,
 102334155,
 165580141,
 267914296,
 433494437,
 701408733,
 1134903170,
 1836311903,
 2971215073,
 4807526976,
 7778742049,
 12586269025,
 20365011074,
 32951280099,
 53316291173,
 86267571272,
 139583862445,
 225851433717,
 365435296162,
 591286729879,
 956722026041,
 1548008755920,
 2504730781961,
 4052739537881,
 6557470319842,
 10610209857723,
 17167680177565,
 27777890035288,
 44945570212853,
 72723460248141,
 117669030460994,
 190392490709135,
 308061521170129,
 498454011879264,
 806515533049393,
 1304969544928657,
 2111485077978050,
 3416454622906707,
 5527939700884757,
 8944394323791464,
 14472334024676221,
 23416728348467685,
 37889062373143906,
 61305790721611591,
 99194853094755497,
 160500643816367088,
 259695496911122585,
 420196140727489673,
 679891637638612258,
 1100087778366101931,
 1779979416004714189,
 2880067194370816120,
 4660046610375530309,
 7540113804746346429,
 12200160415121876738,
 19740274219868223167,
 31940434634990099905,
 51680708854858323072,
 83621143489848422977,
 135301852344706746049,
 218922995834555169026,
 354224848179261915075]

In [7]:
#Exercício 11

#Algoritmo bem primário para checagem de número primo (primality test)

#Como deve-se fazer um programa, é necessário um input
numero_2 = int(input("Digite um número: "))


#Contador começa no 2 porque tanto 0 quanto o 1 não são primos
contador_2 = 2

#Lista com os 8 primeiros primos para evitar erros
lista_excecao = [2,3,5,7,11,13,17,23]
#Tanto 0 quanto 1 não são primos
lista_exclusao = [0,1]

#Contador_2 vai de 2 até 9, porque existem 9 algarismos
while contador_2 <= 9:
    
    #Se contador_2 == 0 ou contador_2 == 1 o número_2 não é primo!
    if numero_2 in lista_exclusao:
        print("Não é primo!")
        
        #Encerra o looping
        break
    
    
    #Se o numero_2 tiver resto de divisão por números entre 2 a 9 = 0, não é primo!
    #Se estiver na lista_excecao => É primo!
    elif numero_2 % contador_2 == 0 and numero_2 not in lista_excecao:
        print("Não é primo!")
        
        break
        
    contador_2 = contador_2 + 1

#Se numero_2 não está na lista exclusão "E" resto da divisão por 2 é diferente de 0 ou numero_2 ta na lista_excecao: É primo!
if numero_2 not in lista_exclusao and numero_2 % contador_2 != 0 or numero_2 in lista_excecao:
    print("É primo")

Digite um número: 2
É primo

## Início dos Exercícios Extras

In [8]:
import pandas as pd

In [9]:
database = pd.read_excel("http://profalibania.com.br/python/bigmovies.xlsx")
database.head(3)

,Title,Year,Main genre,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
0,500 Days of Summer,2009.0,Comedy,Comedy|Drama|Romance,English,USA,PG-13,95.0,2.35,7500000.0,...,23000.0,17000.0,11000.0,54075,40000,43,376600,494.0,331.0,7.7
1,The Master,2012.0,Drama,Drama,English,USA,R,144.0,1.85,32000000.0,...,378.0,18.0,15.0,427,27000,31,105144,405.0,546.0,7.1
2,Battle of the Year,2013.0,Drama,Drama|Music,English,USA,PG-13,110.0,1.85,20000000.0,...,997.0,941.0,826.0,3177,0,19,7894,25.0,65.0,5.0

In [14]:
#Para chamar a função após database.groupby("Main genre") não pode haver espaço entre palavras, no caso "IMDB Score"
database["IMDB_Score"] = database["IMDB Score"]

#database.groupby("Main genre") aglutina todos os dados em Main genre
#database.groupby("Main genre").IMBD_Score.mean() pega qual a média do IMDB_Score por Main genre
media_por_Main_genre = database.groupby("Main genre").IMDB_Score.mean()

#Chamamento da variável
media_por_Main_genre

Main genre
Action         6.185804
Adventure      6.462245
Animation      6.551351
Biography      7.047115
Comedy         6.027016
Crime          6.549020
Documentary    7.148000
Drama          6.734492
Family         5.994059
Fantasy        5.941414
History        7.032143
Horror         5.583590
Music          6.411111
Musical        5.953333
Mystery        6.411607
News           7.600000
Romance        6.390338
Sci-Fi         6.272222
Short          5.200000
Sport          6.624138
Thriller       6.164655
War            6.976000
Western        6.178571
Name: IMDB_Score, dtype: float64